<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.name %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @categories.each do |t| %>
      <%= puts t %>
  <% end %>
</p>

<br/>
<span class="comments header">Comments:</span>
<br/>
<span class="comments">
        <ul class="comments">
          <%= form_tag(controller: :comments, action: :index) do %>
          <% end %>
          <%= render @comments %>
        </ul>
  </span>
<%= if session[:user_id];  link_to 'New Comment', new_comment_path(:post_id => @post.id); end%>
<%=   %><br/>
<br/>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
